#masthead{
    background-color: rgba(87, 87, 87, 0.5);
    backdrop-filter: saturate(220%) blur(36px);
}
#contentContainer {
    background-color: rgba(255, 255, 255, 0);
}
#guide-wrapper {
    background-color: rgba(255, 255, 255, 0);
}

.gstl_50.sbdd_a, ytd-multi-page-menu-renderer.ytd-popup-container{
    background: transparent;
}

ytd-multi-page-menu-renderer {
     background-color: rgba(87, 87, 87, 0.6);
     backdrop-filter: saturate(150%) blur(100px);
}

div.sbdd_b {
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
}
div.sbsb_a {
    background-color: rgba(87, 87, 87, 0.50);
    backdrop-filter: saturate(100%) blur(36px);
}

ytd-guide-renderer {
    background-color: rgba(87, 87, 87, 0.50);
    backdrop-filter: saturate(100%) blur(36px);
}
#guide-content.style-scope.ytd-app {
    background: transparent;
}
ytd-mini-guide-renderer.style-scope.ytd-app{
    background-color: rgba(87, 87, 87, 0.50);
    backdrop-filter: saturate(100%) blur(36px);
}
ytd-mini-guide-entry-renderer.ytd-mini-guide-renderer { 
    background: transparent;
}
li.sbsb_c.gsfs {
    color: #f6f6f6;
}

li.sbsb_c.gsfs {
    color: #f6f6f6;
}
li.sbsb_c.gsfs:hover {
    background-color: #333;
}
li.sbsb_c.gsfs:last-child {
    display: none;
}

yt-page-navigation-progress.ytd-app.style-scope {
    z-index: 2000;
}
